

<mat-card style="margin:16px;">
  <mat-card-header>
    <mat-card-title>Global Results</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="globalGameReport">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="accent" selected>Total rounds played: {{globalGameReport.totalRoundsPlayed}}</mat-chip>
        <mat-chip color="accent" selected>Total wins player 1: {{globalGameReport.totalWinsForFirstPlayer}}</mat-chip>
        <mat-chip color="accent" selected>Total wins player 2: {{globalGameReport.totalWinsForSecondPlayer}}</mat-chip>
        <mat-chip color="accent" selected>Total draws: {{globalGameReport.totalDraws}}</mat-chip>
      </mat-chip-list>
    </ng-container>
  </mat-card-content>
</mat-card>
