

<table mat-table [dataSource]="dataSource">
  <!-- Player 1 Movement Column -->
  <ng-container matColumnDef="player1Movement">
    <th mat-header-cell *matHeaderCellDef> Player 1 </th>
    <td mat-cell *matCellDef="let element"> {{element.player1Movement}} </td>
  </ng-container>

  <!-- Player 2 Movement Column -->
  <ng-container matColumnDef="player2Movement">
    <th mat-header-cell *matHeaderCellDef> Player 2 </th>
    <td mat-cell *matCellDef="let element"> {{element.player2Movement}} </td>
  </ng-container>

  <!-- Round Result Column -->
  <ng-container matColumnDef="roundResult">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let element"> {{element.roundResult}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

