<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>
    <button mat-raised-button color="primary" (click)="playRound()">Play round</button>
    <button mat-raised-button color="primary"  style="margin-left:8px" (click)="restartGame()">Restart game</button>
  </div>

  <div>
    <app-global-game-report></app-global-game-report>
    <app-local-game-report></app-local-game-report>
  </div>

</div>

<router-outlet></router-outlet>

